<%= link_to 'Add movie to list', new_list_bookmark_path(@list) %>
<% if @list.photo.attached? %>
  <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill  %>
<% else %>
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :photo, as: :file %>
    <%= f.submit 'Submit' %>
  <% end %>
<% end %>
<% @list.movies.each do |movie| %>
<p>Movie: <%= movie.id %> <%= movie.title %></p>
<p>Overview: <%= movie.overview %></p>
<% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
<%= link_to 'Delete from list', bookmark_path(bookmark), method: :delete %>
<% end %>
